body {
    font-family: Arial, sans-serif;
    background-color: #dff0d8;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 0;
    color: #3d2821;
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    margin: 20px;
    color: #3d2821;
    font-size: 30px;
    font-weight: bolder;
}

.navbar {
    display: flex;
    justify-content: center; /* จัดให้อยู่ตรงกลาง */
    align-items: center;
    background-color: #a3d39c;
    padding: 15px 20px;
    border-radius: 20px;
    height: 30px;
    margin: 0 auto;
    gap: 60px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    text-align: center;
    gap: 60px;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #2e7d32;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; /* เพิ่ม transition */
}

.navbar ul li a:hover {
    background-color: #feffff;
    color: #2e7d32;
    border-radius: 20px;
}

.navbar ul li a.active {
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons button {
    border: 2px solid #2e7d32;
    background: transparent;
    padding: 5px 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* เพิ่ม transition */
}

.auth-buttons button:hover {
    background-color: #2e7d32;
    color: white;
}

.auth-buttons .sign-in {
    color: #2e7d32;
}

.auth-buttons .sign-up {
    background-color: #2e7d32;
    color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}

.how-to-use {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: left;
}

.how-to-use h3 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

.how-to-use p {
    font-size: 16px;
    text-align: justify;
    margin: 5px 0;
}

footer {
    background-color: #a3d39c;
    padding: 15px 0;
    color: #2e7d32;
    font-weight: bold;
    height: 40px;
}